<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyDropShipping</title>
    @RenderSection("metatags", false)
    <link rel="shortcut icon" href="../../Content/img/favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/mint.min.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />
    <link rel="stylesheet" href="~/css/animate.min.css" />
    <link rel="stylesheet" href="~/css/admin-style.css" />
</head>
<body id="page-top">
    @RenderBody()

    <script src="~/scripts/jquery-3.2.1.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/respond.min.js"></script>
    <script src="~/scripts/template/jquery.easing.js"></script>
    <script src="~/scripts/template/jquery.backstretch.min.js"></script>
    <script src="~/scripts/template/imagesloaded.pkgd.min.js"></script>
    <script src="~/scripts/template/masonry.pkgd.min.js"></script>
    <script src="~/scripts/template/magnificpopup.min.js"></script>
    <script src="~/scripts/template/script.js"></script>
    <script src="~/scripts/menu/highlightActiveMenu.js"></script>
</body>
</html>