
.p-item-main ul{
    list-style-type: none;   
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}
.p-item-main ul li {   
    border: 1px solid #e9e9e9;
    color: #333;
    border-radius: 3px;
    background-color: #fff;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.p-item-main ul li:hover{
    cursor: pointer;
}
#tabs>ul{
    display: inline-flex;
    flex-direction: row;    
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}
#tabs>ul>li{
    display: block;
    margin-right: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: 100;
}
#tabs>ul>li:hover{
    cursor: pointer;
}
.tab{
    display: flex;
    flex-direction: column;
}