<div class="sidebar-wrapper">
  <ul class="nav">
      <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/home']">          
              <i class="material-icons">dashboard</i>     
              <p style="font-size:16px;">Dashbord</p>
          </a>
      </li>        
      <li [routerLinkActive]="['link-active']">
          <a href="#"> 
              <p>Account</p>
          </a>
      </li>     
                   
      <li [routerLinkActive]="['link-active']">
          <a href="#">             
              <p>Category</p>
          </a>
      </li>         
      <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/product']">             
              <p>Products</p>
          </a>
      </li>             
  </ul>
</div>
