@model Models.ViewModels.LoginViewModel
@{
    Layout = "_Layout";

}
<div class="col-md-12">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="modal-header" style="padding:35px 50px;">
                <h2>Вход в интернет-магазин </h2>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    <div class="form-group">
                        <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group">
                        <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control"} })
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" checked>Remember me</label>
                    </div>
                        <input type="hidden" asp-for="ReturnUrl" value="@Model.ReturnUrl" />
                    <button type="submit" class="btn btn-success col-md-6 col-md-offset-3"><span class="glyphicon glyphicon-off"></span> Login</button>
                }
            </div>
        </div>
    </div>
</div>

